
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
  }
  h1 {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 700; 
  }
  



body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
nav {
    background: #111;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin: 0px 28px 0px;
}

nav .logo {
    color: #fff;
    font-size: 38px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    
}

nav .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .nav-menu li {
    margin-left: 25px;
}

nav .nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav .nav-menu a:hover {
    color: #50C878;
    cursor: pointer;
    font-weight: bolder;
}

/* Hero */
header {
    background: #f4f4f4;
    padding: 100px 0;
    text-align: center;
    height: 750px;
    
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 40px;
}

header p {
    font-size: 22px;
    color: #666;
}

/* Section Layout */
section {
    padding: 80px 0;
    text-align: center;
    
}

section h2 {
    font-size: 35px;
    color: #0a6e2b;
    margin-bottom: 20px;
    margin-top: 120px;
}

/* Skills */
.skill-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
}

.skill {
    background: #eee;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
}

/* Projects */
.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.project-card {
    background: #f7f7f7;
    padding: 40px;
    border: 1px solid #ddd;
    width: 300px;
    border-radius: 6px;
}

/* Contact */
#contact p {
    font-size: 20px;
}

/* Footer */
footer {
    background: #111;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

